@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@400;600;800&family=Lobster&family=Montserrat:wght@400;700&family=Poppins:wght@400;600;800&display=swap');

:root{
    --primary-color: #000000e7;
    --primary-color-2: #1c1f1f;
    --secondary-color: #0ae9c0;
    --dark-grey: #6b7280;
    --off-white:#f3f4f6;
    --font-size-lg:2.5rem;
    --font-size-md:1.8rem;
    --font-size-sm:1.2rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

hr{
    margin: 2.5rem 0;
}
a{
    font-size: var(--font-size-sm) ;
}

/* spaces */
.margin-md{
    margin: 2rem;
}

/* containers */
.container{
    padding: 0 1rem;
}
.container-center{
    max-width: 700px;
    margin: auto;
    text-align: center;  /*for anchor tags*/
}

/* links */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: .5rem 1rem;
    
}
.link-primary{
    border: 1px solid var(--secondary-color);
    border-radius: .5rem;
    color: var(--secondary-color);
    margin: auto;
}
/* .link-secondary{
    color: var(--primary-color);
    border-radius: .5rem;
    border: 1px solid var(--primary-color);

} */

/* lists */
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem .5rem;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    /* border-bottom-left-radius: 2rem; */
    
}
/* .navigation .nav-brand{
    font-weight: bold;
    font-size: 1rem;
    align-items: left;
} */
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    font-size: 1.5rem;
    color: var(--secondary-color);
    
}
.navigation .link-active{
    font-weight: bold;
}

/* headers */
.hero{
    padding: 2rem;
    padding-top: 5rem;
}
.hero-image{
    max-width: 500px;
    display: block;
    margin: auto;
}
.hero-heading{
    text-align: center;
    color: var(--off-white);
    padding: 3rem ;
    margin: auto;
    border-bottom: 1px solid var(--secondary-color);
    max-width:900px;
    font-size: var(--font-size-lg);
    letter-spacing: 1.5px

}
.heading-inverted{
    color: var(--secondary-color);
}

/* sections */
.section{
    padding: 2rem;
    background-color: var(--primary-color);
}
.section h1,h2,h3,h4{
    text-align: center;
    padding: 2rem;
    color: var(--off-white);
    font-size: var(--font-size-md);

}

.ow{
    background-color: var(--primary-color-2);

}
.section p{
    text-align: center;    
    color: var(--off-white);
    font-size: 1.1rem;
    letter-spacing: .7px;
    margin-bottom: 4rem;
}
.section ul{
    text-align:center;
}
.section-icons {
    color: var(--secondary-color);
    padding: 0 10px;
}

section a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .5s ease-out;

}
/* footers */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-header{
    color: white;
    font-weight: bold;
    font-size:var(--font-size-md);
    padding: 2rem;

}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.social-icons{
    color: var(--secondary-color);
    padding: 0 10px;
}
.social-icons:hover{
    transform: scale(1.3);
    transition: 1s ease-out;
}

/* message */
.message{
    letter-spacing:  1px;
    margin-top: 2rem;    
    margin-bottom: -1rem;    
}